.homecard__image {
  object-fit: contain;
  width: 100%;
  max-height: 450px;
  margin: 15px 0px;
}
.home__heading {
  font-size: 22px;
  font-weight: 700;
}
.home__data {
  font-size: 16px;
  font-weight: 400;
}

.home__card {
  max-width: 550px;
  margin: 35px auto;
  padding: 20px 0px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}
.home__userName {
  font-size: 16px;
  font-weight: 700;
}
.chat_footer {
  display: flex;
  align-items: center;
  height: 62px;
  border: 1px solid lightgray;
  margin-top: 2%;
  margin-bottom: 2%;
}

.chatFooter__icon {
  color: gray !important;
  padding: 0px 5px;
}
.chat_footer > form {
  display: flex;
}
.chat_footer > form > input {
  flex: 1;
  min-width: 470px;
  padding-left: 10px;
  border: none;
  outline: none;
}
.home__likeButton {
  color: rgb(150, 148, 148);
}
.home__likeEButton {
  color: red;
}
.margin__homeLike {
  margin-top: 12px;
}
.home__comments {
  color: gray;
  font-weight: 600;
}
.home__deleteIcon {
  color: rgb(247, 104, 104);
}
.home__avatar {
  width: 40px !important;
  height: 40px !important;
  border: 2px solid lightgray !important;
}
